.key {
    font-family: 'Arvo', serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    padding: 16px;

}
body{
    background: #a9d0da;
}
.input-group{
max-width: 600px;
height: 100px;
}
.btn-img{
height: 60px;
width: 60px;
}
 .button{
    background-image: url("images/keyboard-key.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
 
}
.card{
    width: 500px;
    
 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-body{
  height: 200px;
  width: 500px;
  display: flex;
    justify-content: center; 
   /* align-items: center;   */
  flex-wrap: wrap;
  margin-bottom: 10px;
 
 
}
.space-button{
    background-image: url("images/space-bar-key.png");
    background-size: cover;
    background-position: center;
   height: 40px;
   width: 90px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
   
}

button:hover{
    cursor:pointer;
}
.enter-button{
    background-image: url("images/keyboard-key.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    line-height: 40px;
    text-align: center;
}
.main-button{
    display: flex;
    justify-content: center;
    align-items: center;

}